/* footer.css */
.footer {
  padding: 20px;
  background-color: #404040;
  text-align: center;
}

.footer-image-container {
  margin-bottom: 10px; /* Space between image and "Contact & links" */
}

.footer-profile-image {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Ensure the height matches the width */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the circle */
  border: 2px solid #f1f1f1; /* Optional: Add a border around the image */
}

.footer p {
  font-size: 1.2em;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
}
