/* navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the page */
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #0077ff;
}

.presentation-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.presentation-logo {
  width: 50px; /* Adjust the size as needed */
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between the nav items */
}

.nav-links a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.nav-links li {
  display: flex;
  align-items: center;
}
